.dot-bg {
  background-color: #f5f6ea;
  opacity: 0.8;
  background-image: radial-gradient(#f1d885 1.35px, transparent 1.35px),
    radial-gradient(#f1d885 1.35px, #f5f6ea 1.35px);
  background-size: 54px 54px;
  background-position: 0 0, 27px 27px;
}
